/*---- GERAL (!EVITAR MODIFICAÇÃO!) ----*/

/* REFERENTE A PAGINA */

html, body {
    min-height: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04D9B2;
}

.texts{
    color: #ffffff;
}

/* REFERENTE AO TOP DA PAGINA */

.navbar {
    margin: 0%;
    width: auto;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: auto;
    background: #193C40; /*#193C40;*/
}

.logo {
    margin-left: 38%;
    width: 15.6%;

}

/* REFERENTE AO RODAPE DA PAGINA */

footer{
    width: 100%;
    height: auto;    
    position: absolute;
    bottom: 0;
    background: #193C40;
    text-align: center;
}

/* REFERENTE AO CORPO DA PAGINA */

.container {
    margin: 0%;
    padding-top: 2%;
    padding-left: 2%;
}

/* Referenhte a Box Search */

.box-search {
    width: 24%;
    height: 73vh;
    border-radius: 1%;
    margin-right: 0px;
    float: left;
    background-color: #193C40; 
}

#title-search {
    padding: 5%;
    margin: auto;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}

.formulario {
    padding-left: 4%;
    width: 100%;
    font-size: 60%;
    margin-left: 2%;
    font-weight: bolder;
}

form {
    font-size: 0.8rem;
}

.estado_cidade{
    display: flex;
    margin-bottom: 4%;
}

#slctEstados {
    width: 13vh;
}

#slctMunicipios{
    width: 13vh;
    margin-left: 2%;
}

.sltAno{
    margin-bottom: 4%;
}

#slctAno{
    width: 13vh;
}

#checkbox {
    margin-bottom: 2%;

}

#btnConsultar {
    width: 40%;
    height: 6vh;
    margin-top: 10vh;
    margin-left: 2%;
    font-size: 1rem;
    border-radius:0px 10px 10px 10px;
    -moz-border-radius:0px 10px 10px 10px;
    -webkit-border-radius:0px 10px 10px 10px;
    -webkit-text-stroke: 1.3px rgb(0, 0, 0);
    color: #000000;
    background: #F28705;
    border:0px none #ffffff;
    box-shadow:2px 2px 5px #000000;
    -moz-box-shadow:2px 2px 5px #000000;
    -webkit-box-shadow:2px 2px 5px #000000;
}


/* Referenhte a Box Print */

.box-print {
    margin-left: 2%;
    width: 68%;
    height: 69vh;
    border-radius: 1%;
    float: left;
    padding-left: 4%;
    padding-top: 2%;
    overflow: auto;
    font-weight: bolder;
    background-color: #193C40;
}

.grid_print {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.retMunicipio{
    width: max-content;
    height: 8vh;
}
#retMunicipio {
    margin-top: 0%;
    font-size: 3rem;
}

.retEstado{
    margin-top: 0%;
}

#retEstado {
    margin-top: 0%;
    font-size: 1.5rem;
}

.textResp{
    color: #ffffff
}

/*---- RESPONSIVIDADE (!CUIDADO AO MODIFICAR!) ----*/

/* PARA TABLET (VERTICAL)*/

@media (max-width: 884px) AND (max-height: 1280px){

    body{
        overflow: auto;
    }

    /* REFERENTE AO TOP DA PAGINA */
    .navbar {
        margin: 0%;
        padding-left: 0.5%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        width: auto;
        background: #193C40; /*#193C40;*/
    }

    .logo {
        margin-left: 33%;
        width: 30%;
    
    }

    /* REFERENTE AO RODAPE DA PAGINA */

    #img_footer {
        width: 50vh;

    }

    /* REFERENTE AO CORPO DA PAGINA */

    .container {
        display:block;
        padding-top: 2%;
        padding-left: 3%;
    }

    /* Referenhte a Box Search */
   
    .box-search {
        width: 97%;
        height: 45vh;
        border-radius: 2%;
        margin-right: 0px;
        float: left;
        
    }

    #title-search {
        padding: 5%;
        margin: auto;
        margin-top: -5vh;
        text-align: center;
        font-size: 300%;
        font-weight: bolder;
    }

    .formulario {
        padding-left: 4%;
        width: 100%;
        margin-left: 2%;
        margin-top: -4vh;
        font-weight: bolder;
    }

    form {
        font-size: 1.7rem;
        grid-column: 1;
        grid-row: 2;
    }

    .grid_search {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

    }

    .estado_cidade{
        margin-top: -2vh;
        margin-left: 16vh;
        margin-bottom: 4%;
        grid-column: 1;
        grid-row: 1;
    }

    #slctEstados {
        width: 13vh;
        height: 4vh;
        font-size: 1.7rem;
        
    }

    #slctMunicipios{
        width: 13vh;
        height: 4vh;
        margin-left: 2%;
        font-size: 1.7rem;
    }

    .sltAno{
        margin-top: -2vh;
        margin-left: -32.9vh;
        margin-bottom: 4%;
        grid-column: 2;
        grid-row: 1;
    }

    #slctAno{
        width: 13vh;
        height: 4vh;
        font-size: 1.7rem;
    }

    #checkbox {
        margin-bottom: 2%;
    }

    .checkbox_icon {
        width: 1.7rem;
        height: 1.7rem;
    }

    .slctDensidadeDmg{
        width: 40.9vh;
        height: auto;
    }

    .btnConsultar{
        width: 20vh;
        height: 6vh;
        grid-column: 1;
        grid-row: 2;
        margin-top: 18vh;
        margin-left: 53vh;
    }

    #btnConsultar {
        width: 20vh;
        height: 6vh;
        padding: 0%;
        margin-top: -0.5vh;
        font-size: 1.7rem;
        border-radius:0px 10px 10px 10px;
        -moz-border-radius:0px 10px 10px 10px;
        -webkit-border-radius:0px 10px 10px 10px;
       
    }

    /* Referenhte a Box Print */

    .box-print {
        margin-left: 0.3%;
        margin-top: 2%;
        width: 70vh;
        height: 33vh;
        border-radius: 1%;
        float: left;
        padding-left: 8%;
        padding-right: 6%;
        padding-top: 4%;
        overflow: auto;
        font-weight: bolder;
    }

    .grid_print {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        font-size: 1.6rem;
        
    }

    .retMunicipio{
        width: max-content;
        height: 8vh;
    }
    #retMunicipio {
        font-size: 4rem;
    }
    
    .retEstado{
        margin-bottom: 4vh;
    }
    
    #retEstado {
        font-size: 2.5rem;
    }
    
    .textResp{
        color: #ffffff;
        margin-bottom: -2vh;
        font-size: 2rem;
        
    }

    .comparaAno {
        width: auto;
        height: 30vh;
        font-size: 8rem;
    }




}

/* PARA MOBILE */

@media (max-width: 428px) AND (max-height: 926px){

    /* REFERENTE AO TOP DA PAGINA */
    .navbar {
        margin: 0%;
        padding-left: 0.5%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        width: auto;
        background: #193C40; /*#193C40;*/
    }

    .logo {
        margin-left: 33%;
        width: 30%;
    
    }

    /* REFERENTE AO RODAPE DA PAGINA */

    #img_footer {
        width: 50vh;

    }

    /* REFERENTE AO CORPO DA PAGINA */

    .container {
        padding-top: 2%;
        padding-left: 3%;
    }

    /* Referenhte a Box Search */
   
    .box-search {
        width: 97%;
        height: 49vh;
        border-radius: 2%;
        margin-right: 0px;
        float: left;
        
    }

    #title-search {
        padding: 5%;
        margin: auto;
        margin-top: -3vh;
        text-align: center;
        font-size: 200%;
        font-weight: bolder;
    }

    .formulario {
        padding-left: 4%;
        width: 100%;
        margin-left: 2%;
        margin-top: -4vh;
        font-weight: bolder;
    }

    form {
        font-size: 1.2rem;
        grid-column: 1;
        grid-row: 2;
    }

    .grid_search {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

    }

    .estado_cidade{
        display: flex;
        margin-left: 0%;
        margin-bottom: 4%;
        grid-column: 1;
        grid-row: 1;
    }

    #slctEstados {
        width: 13vh;
        height: 4vh;
        font-size: 1.3rem;
        
    }

    #slctMunicipios{
        width: 13vh;
        height: 4vh;
        margin-left: 2%;
        font-size: 1.3rem;
    }

    .sltAno{
        margin-left: -18.6vh;
        margin-bottom: 4%;
        grid-column: 2;
        grid-row: 1;
    }

    #slctAno{
        width: 13vh;
        height: 4vh;
        font-size: 1.3rem;
    }

    #checkbox {
        margin-bottom: 2%;
    }

    .checkbox_icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .slctDensidadeDmg{
        width: 39.2vh;
        height: auto;
    }

    .btnConsultar{
        width: 15vh;
        height: 6vh;
        grid-column: 1;
        grid-row: 2;
        margin-top: 23vh;
        margin-left: 0%;
    }

    #btnConsultar {
        width: 20vh;
        height: 6vh;
        padding: 0%;
        margin-top: 0vh;
        font-size: 1.2rem;
        border-radius:0px 10px 10px 10px;
        -moz-border-radius:0px 10px 10px 10px;
        -webkit-border-radius:0px 10px 10px 10px;
       
    }

    /* Referenhte a Box Print */

    .box-print {
        margin-left: 0.3%;
        margin-top: 2%;
        width: 45.6vh;
        height: 33vh;
        border-radius: 1%;
        float: left;
        padding-left: 8%;
        padding-right: 6%;
        padding-top: 8%;
        overflow: auto;
        font-weight: bolder;
    }

    .grid_print {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        font-size: 1.6rem;
        
    }

    .retMunicipio{
        width: max-content;
        height: 8vh;
    }
    #retMunicipio {
        margin-top: 0%;
        font-size: 2rem;
    }
    
    .retEstado{
        margin-top: 0%;
        margin-bottom: 4vh;
    }
    
    #retEstado {
        margin-top: -2vh;
        font-size: 1.5rem;
    }
    
    .textResp{
        color: #ffffff;
        margin-bottom: -2vh;
        font-size: 1.3rem;
        
    }

    .comparaAno {
        width: auto;
        height: 30vh;
        font-size: 8rem;
    }




}

